block footerContent
  .footer-links
    .foot-note
      //- Insert newsletter signup here
      a.lc.lc-social-facebook(target='_blank', href='https://www.facebook.com/lucyshealthcoaching')
      a.lc.lc-social-instagram(target='_blank', href='https://www.instagram.com/lucydevours/')
      a.lc.lc-social-yelp(target='_blank', href='http://nz.yelp.com/biz/lucys-health-coaching-brooklyn')
      a.lc.lc-gmail(target='_blank', href='mailto:lucyhealthcoach@gmail.com')
  .copyright
    | © 2016 Lucy Chen
