block headerContent
  img#logo(src='assets/img/logo.png')
  #navigation
    ul
      li
        a(href='index.html') Homeboi
      li
        a(href='about.html') About
      li
        a(href='work.html') Work with Me
      li
        a(href='recipes.html') Recipes
      li
        a(href='praise.html') Praise
      li
        a(href='media.html') Media
      li
        a(href='contact.html') Contact
      li
        a(href='blog.php') Blog
