block headerContent
  img#logo(src='images/logo.png')
  #navigation
    ul
      li
        a(href='/index') Home
      li
        a(href='/about') About
      li
        a(href='/work') Work with Me
      li
        a(href='/recipes') Recipes
      li
        a(href='/praise') Praise
      li
        a(href='/media') Media
      li
        a(href='/contact') Contact
      li
        a(href='/blog.php') Blog
