extends layout

block content
  h3 My Mission
  p As a Holistic Health Coach, I look at how all areas of your life are connected.
  p
    | My approach is not to dwell on counting calories, carbs, fat, and protein. I don't create good and bad food lists. Instead want to help you create a road map to your success that is flexible, fun and inspiring. I will help you set goals that will empower you and together we will make sustainable changes that improve your health and happiness.
  h3 My Story
  p
    | I wasn't in the cool crowd when I was growing up. I was pretty dorky and a lot of people teased me. My self-esteem was pretty low and I did my best to fit in. In my teen years, what started as a desire to be healthy quickly spiraled into an unhealthy obsession, and I developed several eating disorders, and was even diagnosed with Body Dismorphic Disorder (BDD).
    | I was 100lbs at 5'8" and still thought I was fat. Still, I wanted to learn everything I could about nutrition and would try and consume as many nutrients as possible with as little calories as I could handle.
  img(src='assets/img/bio-pic.jpg')
  p
    | Eventually I realized, this was killing me. I realized I needed help. I went to therapy. The road to recovery was a slow and long one, made possible through the love and support of those closest to me, and particularly my knowledge of Traditional Chinese Medicine (TCM). I learned to listen to my body rather than just what was listed on the nutrients label. I learned that being healthy wasn't about counting every calorie and starving myself, but it could be easy, fun, and delicious! And by far the most important thing was that I felt great,my self-esteem improved, my energy levels skyrocketed, and for the first time in my life, I felt happy with who I was.
  p And that's what its all about really, isn't it?
  p
    | But my journey doesn't end there. After my long stint with eating disorders I fell into abusing drugs and alcohol to balance my needs. I couldn't find any peace in my mind so I used any means possible to keep me from being unhappy and depressed. Thankfully, it was a much shorter episode but it has also created the perfect storm for my body to crash. I was getting sick all the time and I was always tired from partying or staying up all night. I drank 6-8cups of coffee a day and drove myself to the ground. Finally, a few close calls made me snap out of it and I wanted to be a truly healthy and happy person without abusing myself.
  p
    | I wanted to love myself again. I was back at it with more research into healthy eating and I wanted to know everything about anything related to nutrition! I began to learn more about the energetics behind food and I started to look outside of common fad dieting to understand what would make the body feel the best.
  p
    | Since then I have carefully listened to my body and intuition about what foods feel the best for me in my body rather than only focusing on the nutritional facts label on the product. I've ran myself through raw foodism, veganism, paleo and plenty of other theories to find the right balance for my body and lifestyle.  Eventually, I came full circle to also include TCM and it's teachings back into my world and created a lifestyle that is balanced rewarding, sustainable and the healthiest I can be.
  p
    | Growing up learning through all the dietary fads, I know that there is no such thing as perfect, we all make mistakes along the road toward our health and happiness. I'm not perfect now and I will never be perfect. I know how to balance myself and create a lifestyle where I can have a little bit of ice cream with my kale. That is why I am so passionate about helping those who are ready to make the change in their life. Let me help you make it easy, rewarding and sustainable changes to your health and happiness. Let me help you create the balance in you life.
  p I'm still a bit of a dork, but I'm much healthier and happier now.
  p Hi, I'm Lucy, and I'm a Holistic Health Coach.
  h3 My Training
  p
    | Lucy Chen is a Certified Holistic Health Coach and also holds a B.S. in Community Health Education with concentrations in Nutrition and Psychology. She further received training from the Institute for Integrative Nutrition, where she was trained in more than one hundred dietary theories, and studied a variety of practical lifestyle coaching methods. Her lifelong struggles with her own health and body image has helped her create a judgement-free way of helping others who are also looking to empower themselves through a healthy lifestyle.
  p
    | Lucy is a native New Yorker and understands how to maintain a healthy lifestyle in the bustling concrete jungle on a budget. She is an athlete, gardener and self-proclaimed amateur chef.
