extends layout

block content
  h3(align='center')
    | When was the last time you recieved
    br
    | the personal attention you deserve and talked
    br
    | with someone about your health?
    br
    br
  h3(align='center')
    a.button(href='contact.html') Start The Conversation
