extends layout

block content
  //- RESPONSIVE COLUMNS
  //- GROUP 1
  .section.group
    .col.span_1_of_2
      h3 BKT: Bacon, Kale and Tomato
      .embed-container
        iframe(src='https://www.youtube.com/embed/jDKdh12FizU?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
      p
        | An alternative to a BLT sandwich with marinated tempeh to replace the bacon and kale instead of iceburg lettuce.
      p Check out how I made tempeh taste like bacon!
    .col.span_1_of_2
      h3 Bulgogi Tacos
      .embed-container
        iframe(src='https://www.youtube.com/embed/vZPBrVEDFlQ?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
      p
        | I love Korean food - especially Bulgogi!
        br
        | 						In this recipe I make a healthier alternative to bulgogi by replacing the sugar with a grated apple. Enjoy!
  //- GROUP 2
  .section.group
    .col.span_1_of_2
      h3 Oyster Mushrooms in Dynamite Sauce
      .embed-container
        iframe(src='https://www.youtube.com/embed/Ae3WhKi5gEc?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
      p
        | Mushrooms are highly under utilized in my opinion so here is a quick and easy Oyster Mushroom Recipe that takes less than 30min for prep and cook.
    .col.span_1_of_2
      h3 White Bean and Cilantro Lime Soup
      .embed-container
        iframe(src='https://www.youtube.com/embed/FFK90pOqQfo?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
      p
        | This versatile dish can be served 3 ways: hot, cold and reduced broth to make it into a dip. Oh yeah, you can also make it vegan by using vegetable broth.
  //- END RESPONSIVE COLUMNS
  h3(style='text-align:center; padding-top: 50px;')
    | subscribe to my channel on 
    a.lc.lc-youtube(target='_blank', href='https://www.youtube.com/channel/UCUMgPv8HrMQhngAN9STkSGA')
