extends layout

block content
  h3 Here's what people are saying...
  // TESTIMONIAL
  .more
    | "My daily lifestyle had been running myself into the ground with and at 26 years old, I realized it was time to do something about it. I work in the very demanding fashion industry by day, and I am also the founder of a non-profit alongside other projects. 
    | I was exhausted after a work day and never had any food in my apartment, struggled with lunch at work, and always found myself eating whatever ended up being available in a crunch. 
    | I've done a few juice cleanses and joined a gym, but still felt like the 'health world' was foreign and intimidating to me. Sick of a few extra pounds and a scary diagnosis after a routine exam, I decided to make a change to take better care of myself.
    br
    br
    |                 My goals were to eat a more nutritional diet consistently, cook more regularly, and exercise on a regular basis. After working with Lucy, I have so much more energy than before, I feel good, and I've actually lost 15 lbs! I am cooking for myself, even my roommates have noticed and are bit jealous, and I ration enough to have lunch to take to work the next day. Cutting out processed foods and junk food has improved my overall mood and skin.
    br
    br
    |                 Lucy is extremely thoughtful and insightful. Not only is she so knowledgeable, but she's so nice to work with and has really been a personal cheerleader for me. Her wisdom transcends her age and the wealth of her knowledge about holistic health is amazing, she always has another piece of advice to consider. She is not pushy or judgmental and leaves room for personal interpretation and learning.
    br
    br
    |                 I would recommend Lucy to everyone I know and anyone who is looking for guidance with a specific set of issues they'd like to tackle on their own terms- with Lucy in your corner you will do well. She is able to work with your lifestyle and your problems to make a plan that doesn't make it harder to achieve your goals, but so much easier than imagined. Lucy's enthusiasm and dedication to helping her clients is really encouraging and the emotional and mental support she gives is fantastic. Whether it's in an actual session or in between with emails, she's always got your back! Thanks Lucy!!"
  p
    strong - Paulina P. / 26yrs Fashion Designer / Founder of Playground Detroit
  // TESTIMONIAL
  .more
    | "For the first time in my life, I feel like I'm not in an abusive relationship with food and my body.
    | Together, we have slain the bear and discovered the tools I need to live a happy, fulfilling life. Pizza? F--k yeah. Kale? Double f--k yeah? Weird green juice drink and a bag of potato chips? Deconstruct the craving for salt and if I still want the chips, then f--k yeah again. I'm eating consciously now. I'm eating with an awareness of my body and I'm eating to feel good, have energy, and kick ass. As a prisoner of an enduring eating disorder (15 years with that mother f-ker!), I have now officially said "f--k off ED".
    br
    br
    |                 I'm not binging, I'm not purging. I'm not starving. I'm living, laughing, f--king, loving, running, moving, singing, creating, and eating, and I cannot thank you enough.
    |                 Yeah I know I did the work and bla bla bla whatever, but I needed that goddamn "teddy bear" as you said. I needed the guidance and the support and the "it's ok to eat a GD bagel" and the "here try this green shit" and everything else. So thanks a shit ton Lucy. Thanks more than I can ever say thanks. Thanks thanks thanks thanks thanks."
  p
    strong - Rachel B. / 27yrs Comedian
  // TESTIMONIAL
  .more
    | "Lucy didn't just guide me into healthy eating, she taught me that food is just one aspect that I should be mindful of in the process of building a more positive body and mind. I didn't think I needed a health coach because I did not have an eating disorder and I did not need to lose weight, but I had no idea the impact that Lucy would have on my struggle with happiness and search for positivity.
    br
    br
    |                 I initially reached out to Lucy because my brain and body were causing me inexplicable stress, and doctors could not figure out the cause of my bouts of feeling dizzy, faint, foggy, tired and numb. A friend suggested it may be a reaction to my diet, and another friend introduced me to Lucy. I was skeptical at first because I didn't eat ridiculously unhealthy, but I met with Lucy anyway for a free consultation, so there was nothing to lose. I was surprised to find how knowledgeable and intuitive she is, and how little I knew about nutrition and my body at the time. It was trying to communicate with me, but I had yet to learn how to listen. Lucy was my guide to listening, and we found that it was my sweet tooth that was keeping my brain from clarity and stability. After pinpointing the culprit, she worked with me until I felt in control again.
    br
    br
    |                 As soon as I met her, I felt I could really confide in her. There is never any judgement, only understanding. As we built a friendship between and beyond our sessions, I realized this is truly who she is: endlessly caring and understanding. Her openness about her own struggles led me to face my problems honestly and with care. I am constantly working towards improving myself, and forgiving myself at the same time.
    br
    br
    |                 The greatest lesson she taught me is how to listen to my body so I can begin to solve problems on my own, paying close attention to the foods I eat and the different effects they have on me. I began my sessions with Lucy feeling weak, and left feeling stable and powerful. What a change this has had on all areas of my life."
  p
    strong - Kyna D. / 27yrs Photographer
  // TESTIMONIAL
  .more
    | "I just wanted to take the time to write this review to share how Lucy's Health Coaching and friendship has truly changed my life. Having a degree in exercise science and practicing yoga daily, I always thought of myself as a healthy person. I am naturally thin, so I generally eat what I want. Lucy completely changed the way that I viewed food. She taught me about food combining and eating to really nourish my body. She has introduced me to tons of new foods!!! I'm feeling better than I have in my whole life! Whenever I have a question she is always there to help me make the right choice. I now have a baby girl who loves to eat whole and simple foods because of the recipes Lucy has given me and I believe the best thing I can teach her is how to eat to nourish her body. The knowledge that she has shared with me has carried over to all my friends and family and I'm so grateful. I couldn't thank Lucy enough for helping me to build this new relationship with food."
  p
    strong - Amina M. / 30yrs Hair Stylist / Yoga Enthusiast
  // TESTIMONIAL
  .more
    | "In a single hour-long workshop, Lucy shares such a wealth of knowledge on the most interesting and vital health topics, and also provides the tools you need to get motivated and make serious improvements in your lifestyle. A particularly grounded and relatable person, her approach to these changes allows you to start small, by replacing negative habits with reasonable, and often delicious new ones. Engaging and personable, she is incredible resource for anyone seeking a greater understanding of their health."
  p
    strong - Kate S. / 28yrs
  // TESTIMONIAL
  .more
    | "I initially met Lucy at her Eating for Energy workshop and my health was totally out of whack. My biggest issue was balancing my weekday work and weekend lifestyle. After a weekend of partying, Monday would come and I couldn't think straight, I was irritable, and my body just felt run down. I came to the realization that I couldn't party like I wanted to anymore.
    br
    br
    |                 During our first session I was embarrassed to tell her about my unhealthy weekend life vs. my desire to be healthy dilemma. Lucy made me feel totally comfortable and safe. I'm able to be honest and that's what really allowed for things to work. I never feel restricted or judged and we work on adding things to my diet and life that work for me.
    br
    br
    |                 I used to be prescribed ADD medication to concentrate daily. I now have this natural burst of energy and my concentration has improved drastically to the point where I no longer take any medication! I used be tired all the time and drank coffee every day. Now I have energy and very rarely crave caffeine.
    br
    br
    |                 I feel physically better, emotionally more stable and mentally clear. I can honestly say I've never been able to reach this state of happiness and balance. I feel more confident in my body and know about what my body needs from me- I even lost a few pounds! The best I'm still able to have just as much fun on the weekend, but I've learned to party smarter. Lucy is such a gem; she is inspiring and is genuine person who is understanding and takes the time to really listen to you."
  p
    strong - Selena P. / 24yrs Patient Coordinator
  // TESTIMONIAL
  .more
    | "As someone who has struggled with sugar cravings/addiction for 25+ years, I am truly amazed and happy about what I accomplished in the 6-month program with Lucy Chen! I have gained unprecedented control over my sugar cravings, which were a daily obsession that consumed a lot of my mental and emotional energy. I truly feel liberated from the sugar addiction! Lucy assisted me to work towards this major accomplishment by adding more greens and whole grains to my diet, deconstructing and understanding the cravings, and by reducing my weekly sugar intake. I feel more emotionally stable, and don't reach for sugar when I am stressed by work or life challenges. In addition, I have had a significant reduction in period cramps and even lost weight (albeit not a goal for my program).
    br
    br
    |                 I strongly recommend Lucy for people who desire to make significant health and nutritional changes in their lives! Lucy is a consistent, supportive, and highly professional health coach who sincerely cares about her client's success. She facilitated a deep, reflective process on my eating habits and goals, and encouraged me to try new recipes and strategies. She helped me to stay on track with my goals despite a knee injury in the middle of the program, and provided lots of helpful tip sheets and recipes for adding more healthy food options to my diet."
  p
    strong - Ashley / 43yrs Community Social Worker / Garden Educator
  // TESTIMONIAL
  .more
    | "As a lifelong athlete, Ive always been exposed to knowledge about health, wellness, and balance. Still, maintaining my career and lifestyle left me feeling very unbalanced. Lucy's guidance helped me realize a major source of my lack of satisfaction with my health, and it was far simpler than I would have guessed on my own. Coffee, and caffeinated beverages, are so prolific in our society that I completely took for granted the idea that my health could be affected by my caffeine intake. My moods were hard to control, and I used to feel overwhelming stress and aggression at the smallest problems. After a bit of good coaching, I was able to let go of this seemingly critical step in my morning routine. I have felt an incredibly positive change in my energy levels, in my ability to handle Monday mornings, and my ability to focus surprisingly increased. Looking back, I cant believe I was living in a chemically induced state of stress all the time, and believing it was perfectly normal! I owe it to Lucy for helping me understand how caffeine was affecting my personal lifestyle, and experience in knowing I can get along fine without it."
  p
    strong - Todd M. / 30yrs Software Engineer
  // TESTIMONIAL
  .more
    | "I have known and worked with Lucy for almost two years and over that time I have come to respect her vast and dynamic understanding of health and nutrition. She enjoys the rare combination of compassion and professionalism in her counseling, and has the ability to offer solutions that have deep spiritual and philosophical roots without sacrificing practicality. Her expertise stems not only from her study of holistic health principles, but anecdotal evidence gathered from the experiences of her clients and herself. I have personally benefitted from Lucy's counseling and highly recommend her services to anyone seeking a healthier, happier lifestyle."
  p
    strong - Ryan S. / 29yrs Fitness Coach
  h3(style='text-align:center; padding-top: 50px;')
    | more on Yelp 
    a.lc.lc-social-yelp(target='_blank', href='http://nz.yelp.com/biz/lucys-health-coaching-brooklyn')
