extends layout

block content
  h3 Try these healthy and delicious recipes
  ul
    li
      a(href='#1') Amaranth and Polenta Porridge
    li
      a(href='#2') Black-Eyed Pea Salad
    li
      a(href='#3') Cilantro Mango Chicken
    li
      a(href='#4') Coconut Date Cookies
    li
      a(href='#5') Gayatri Greens
    li
      a(href='#6') Morning Kasha
    li
      a(href='#7') Pecan Pie (v, gf)
    li
      a(href='#8') Thai Quinoa
  // 1
  h3#1(style='padding-top: 100px;') Amaranth and Polenta Porridge
  img(src='images/amaranth_polenta_porridge.jpg')
  p
    strong Prep Time
    br
    |                     5 minutes
  p
    strong Cooking Time
    br
    |                     40 minutes
  p
    strong Yields
    br
    |                     4 servings
  p
    strong Ingredients
    br
    |                     3 cups water
    br
    |                     1/2 tsp sea salt
    br
    |                     1/2 cup polenta
    br
    |                     1/2 cup amaranth
    br
    |                     1/2 cup dried cranberries
    br
    |                     1/2 cup pine nuts
    br
    |                     1-2 tbsps honey
    br
    |                     1/4 cup milk (or non-dairy milk)
  strong Directions
  ol
    li Put the water into a pot with the salt.
    li Bring saltwater to a boil.
    li Add the polenta and amaranth.
    li Reduce heat and simmer, cover for about 30 minutes, and stir occasionally.
    li After 20 minutes, add in cranberries and stir.
    li When porridge is soft and creamy, remove from heat.
    li Add pine nuts, honey, and milk and enjoy!
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 2
  h3#2(style='padding-top: 100px;') Black Eyed Pea Salad
  img(src='images/black_eye_pea_salad.jpg')
  p
    strong Prep Time
    br
    |                     10 minutes
  p
    strong Prep Notes
    br
    |                     Bean Soaking Time: 4-8 hours
  p
    strong Cooking Time
    br
    |                     40 minutes
  p
    strong Yields
    br
    |                     4 servings
  p
    strong Ingredients
    br
    |                         1 cup black-eyed peas
    br
    |                         2-3 cups water
    br
    |                         1 tbsp whole grain or dijon mustard
    br
    |                         juice of 1/2 lime
    br
    |                         1 tbsp apple cider vinegar
    br
    |                         2 tbsps extra virgin olive oil
    br
    |                         1/3 cup sun-dried tomatoes, finely chopped
    br
    |                         1/4 cup parsley, diced
    br
    |                         1/2 tsp sea salt, or more to taste
    br
    |                         lettuce, arugula or spinach leaves (optional)
  strong Directions
  ol
    li
      | If using dried peas, pour the black-eyed peas into a bowl and cover with fresh water. Leave to soak for at least 4 hours, preferably overnight.
    li
      | Rinse and drain beans. Add beans and water in a pot with a lid and bring to a boil. The water should be about one inch higher than the beans. Once boiling, reduce to a simmer, tilting the lid slightly to allow steam to escape and leave to cook for about 40 minutes or until tender. Add more water, if necessary, until beans are tender.
    li
      | Drain beans. To make the dressing, whisk together the mustard, lime juice, vinegar, salt and oil in a bowl.
    li
      | In a large bowl, combine the beans, sun-dried tomatoes, and parsley. Pour some of the dressing over the beans (about half) and mix well. Add more dressing and/or sea salt to taste. This salad is delicious on its own or served over lettuce, arugula or spinach leaves. You can toss the greens with any leftover dressing, or with a little more olive oil.
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 3
  h3#3(style='padding-top: 100px;') Cilantro Mango Chicken
  img(src='images/cilantro_mango_chicken.jpg')
  p
    strong Prep Time
    br
    |                     10 minutes
  p
    strong Cooking Time
    br
    |                     30 minutes
  p
    strong Yields
    br
    |                     4 servings
  p
    strong Ingredients
    br
    |                         2 whole skinless, boneless chicken breasts, butterflied
    br
    |                         8 oz plain yogurt
    br
    |                         11/4 cup cilantro, finely chopped
    br
    |                         1/2 cup fresh lime, juiced
    br
    |                         Dash of cayenne pepper
    br
    |                         1 clove fresh garlic, minced
    br
    |                         1 large ripe mango, peeled, finely diced
  strong Directions
  ol
    li Preheat oven to 375° F.
    li
      | To butterfly the chicken breast, place them flat on a cutting board with your hand on top. Using a sharp knife, slice most of the way into the thicker side of the breast and slice along until you reach the thinner side. Be careful not to cut through the entire breast; just cut enough to be able to open the breast like a book.
    li
      | Combine 1/4 cup yogurt,1/4 cup of cilantro, half of the lime juice, cayenne pepper, and garlic. Coat chicken breast with this mixture, marinate for at least 1 hour.
    li
      | While chicken marinates, purée remaining yogurt, 2/3 of cubed mango, 1/2 teaspoon lime juice, and 1 cup cilantro in blender.
    li Bake chicken in a glass baking dish for 25-30 minutes.
    li
      | Place chicken on serving plates, pour on sauce, and sprinkle with mango and extra sauce on side.
    li Garnish with more cilantro and lime and season to taste.
  p
    strong Note: 
    |                     Pair with a roasted winter squash.
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 4
  h3#4(style='padding-top: 100px;') Coconut Date Cookies
  img(src='images/coconut_date_cookies.jpg')
  p
    strong Prep Time
    br
    |                     40 minutes
  p
    strong Cooking Time
    br
    |                     15 - 20 minutes
  p
    strong Yields
    br
    |                     24 small cookies
  p
    strong Ingredients
    br
    |                         6-7 dried pitted dates
    br
    |                         1 cup rolled oats
    br
    |                         2 cups whole wheat flour
    br
    |                         1/2 cup shredded coconut
    br
    |                         1/2 tbsp cinnamon
    br
    |                         1/4 tbsp nutmeg
    br
    |                         1/2 cup olive oil
    br
    |                         1/2 cup maple syrup
  strong Directions
  ol
    li Soak dates in 1 cup of water for 30 minutes.
    li Preheat oven to 375° F.
    li Combine oats, flour, coconut, cinnamon, and nutmeg in a bowl.
    li Roughly chop the dates.
    li Add oil, syrup, and dates and mix until all ingredients are moist.
    li
      | Form little balls and place on a lightly greased cookie sheet (it may take some work to form the dough and get the balls to stick together).
    li Press cookies lightly so they do not roll off cookie sheet.
    li Bake for 10 minutes.
    li Take out cookie sheet and flip cookies.
    li Bake for an additional 5-10 minutes.
  p
    strong Note: 
    |                     If you have a food processor, you can use it to mix the dough, which makes the cookies easier to shape. Do not over mix the dough or you'll lose the texture of the cookies.
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 5
  h3#5(style='padding-top: 100px;') Gayatri Greens
  img(src='images/gayatri_greens.jpg')
  p
    strong Prep Time
    br
    |                     5 minutes
  p
    strong Cooking Time
    br
    |                     7 minutes
  p
    strong Yields
    br
    |                     4 servings
  p
    strong Ingredients
    br
    |                         1 bunch Swiss chard
    br
    |                         2 tbsps coconut oil
    br
    |                         1 tsp black mustard seeds
    br
    |                         1 tsp ground cumin
    br
    |                         1 tsp ground coriander
    br
    |                         1/2 tsp sea salt
  strong Directions
  ol
    li Wash chard, cut out stems, and chop leaves into 1-inch pieces.
    li Heat oil in a frying pan on medium-high.
    li When the oil is hot, add mustard seeds and cook, stirring for 1 minute.
    li
      | Add cumin and coriander and cook for another 30 seconds, stirring. The mixture should be fragrant.
    li Add the chard and salt. Mix well and cook 3-5 minutes until chard is wilted.
    li Serve immediately.
  p
    strong Notes: 
    ol
      li
        | These Indian style greens bare the name of a powerful Hindu Goddess and also a beautiful mantra (prayer) that is said to represent the divine awakening of the mind and soul.
      li These greens pair well with most meat entrees or baked tofu.
      ol
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 6
  h3#6(style='padding-top: 100px;') Morning Kasha
  img(src='images/morning_kasha.jpg')
  p
    strong Prep Time
    br
    |                     5 minutes
  p
    strong Prep Notes
    br
    |                     This recipe is best made when you have leftover cooked kasha. If you are making the kasha fresh, allow for additional time.
  p
    strong Cooking Time
    br
    |                     2 minutes
  p
    strong Yields
    br
    |                     4 servings
  p
    strong Ingredients
    br
    |                         1 cup cooked kasha
    br
    |                         1 apple, diced
    br
    |                         2 tbsps almond or cashew butter
    br
    |                         2 tbsps water (use more if needed)
    br
    |                         1 tsp cinnamon
    br
    |                         Dairy or non-dairy milk
    br
    |                         Maple syrup
  strong Directions
  ol
    li Place cooked kasha in a steamer over boiling water and steam until warm
    li Combine warm kasha and apple in a breakfast bowl.
    li In a separate bowl, mix nut butter with 2 tablespoons of water.
    li
      | Blend with fork until the consistency becomes creamy and add a bit more water as needed (mixture should not be too runny).
    li Pour nut sauce over kasha and apples and mix well.
    li Sprinkle with cinnamon and drizzle with maple syrup.
    li Add a splash of the milk of your choice.
  p
    strong Notes: 
    ol
      li
        | Make kasha for dinner instead of rice or quinoa and use the leftovers for this breakfast.
      li Kasha keeps well in the fridge for 3-4 days when covered with some olive oil.
      ol
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 7
  h3#7(style='padding-top: 100px;') Pecan Pie
  p
    strong † vegan & gluten-free
  img(src='images/pecan_pie_v_gf.jpg')
  p
    strong Prep Time
    br
    |                     20 minutes
  p
    strong Cooking Time
    br
    |                     10 - 15 minutes
  p
    strong Yields
    br
    |                     6 servings
  p
    strong Ingredients
    br
    strong Filling Ingredients:
    br
    |                                 1/2 cup coconut water
    br
    |                                 1/2 cup raw pecans (plus additional pecans to use as a garnish)
    br
    |                                 1/2 cup raisins
    br
    |                                 1/2 cup unsweetened, tart dried cherries
    br
    |                                 2 tbsps maple syrup
    br
    strong Crust Ingredients:
    br
    |                                 3/4 cup raw almonds
    br
    |                                 1/2 cup oat flour
    br
    |                                 3 tbsps maple syrup
    br
    |                                 1 cup rolled oats
    br
    |                                 1/4 cup melted coconut oil
    br
    |                                 1/4 tsp sea salt
  strong Directions
  ol
    li Preheat the oven to 350°F.
    li
      | Make the crust by grinding the almonds in a food processor until fine (like sand).
    li Add the oat flour, maple syrup, coconut oil, and salt.
    li Blend until a dough forms.
    li
      | Add the oats and pulse until they are finely chopped and the dough is sticky. (It's okay if you can still see the oats and there's some texture.)
    li
      | Lightly grease a 9″ baking pan with coconut oil. Put the dough in the pan and press the mixture firmly into the pan starting with the middle then moving outward along the side of the pie dish. Press the crumbs into the dish to form a crust.
    li
      | Poke fork holes in the bottom of the crust, then bake uncovered for 10-13 minutes until lightly golden.
    li Set aside and cool for 15 minutes while you make the filling.
    li
      | In a high-speed blender, combine all of the filling ingredients and blend until smooth. Spoon the mixture into the pie crust.
    li Garnish with 1/2 cup raw pecans, whole or chopped.
    li
      | Freeze or refrigerate the pie in order to set the filling. At least 45 minutes in a freezer.
  p
    strong Credit: 
    |                     Heather Neufeld, 2014
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
  // 8
  h3#8(style='padding-top: 100px;') Thai Quinoa
  img(src='images/thai_quinoa.jpg')
  p
    strong Prep Time
    br
    |                     5 minutes
  p
    strong Cooking Time
    br
    |                     15 minutes
  p
    strong Yields
    br
    |                     4 servings
  p
    strong Ingredients
    br
    |                         1 cup dry roasted quinoa
    br
    |                         2/3 cup coconut milk
    br
    |                         1 cup water
    br
    |                         A pinch of sea salt
    br
    |                         1/2 cup red pepper, diced
    br
    |                         2 cloves garlic, minced
  strong Directions
  ol
    li Rinse quinoa.
    li Bring coconut milk and water to a boil.
    li Add quinoa, salt, and garlic.
    li Bring back to a boil, cover, and reduce heat.
    li Cook for 12-15 minutes or until the liquid is absorbed.
    li Remove from heat and stir in red peppers and sesame oil.
    li Let sit covered for 5 minutes then serve.
  p(style='float:right;')
    a.lc.lc-angle-up(href='#top')
