extends layout

block content
  h3(align='center') Your personal road map to success
  p
    | So many of us have tried "getting healthy" in the past but end up losing the initial excitement and momentum in a few weeks. Others get confused on what's the "right" and "wrong" thing to do. If you have tried all kinds of different diets and methods to get to your goals, but haven't gotten where you want to be, it might be time to team up with me!
  p
    | As your Health Coach I am committed to your success. I will continuously provide you with motivation and accountability so that you are never alone in your journey. We'll get clear on exactly what you want from your life and create attainable goals that inspire you to go for everything you've ever desired for your health and happiness. I'll share practical and relevant tools that work for your specific lifestyle and also educate you on how to nourish your unique body type.
  p
    | I believe that knowledge is a powerfol tool that can be utilized to understand why you are stuck and drive you toward a sustainable healthy lifestyle that you've been waiting for.
  p
    strong You won't be in this alone. I got your back.
  p
    | In each session we will gradually progress toward achieving your goals and creating a sustainable lifestyle that is fun, inspiring and flexible.
  // RESPONSIVE COLUMNS
  .section.group
    .col.span_1_of_2
      h3(align='center') 6 month Program
      ol
        li Connect the dots between who you are and who you want to be
        li Create your personal blueprint
        li Decipher your body's unique needs
        li Set your personal goals and work towards sustainable change
      p
        strong What you get:
      ol
        li Two 60-minute sessions per month
        li Email support between sessions
        li Simple healthy recipes
        li Handouts and information specific to your needs and goals
      p
      p
        a.buttonSmall(href='http://lucyshealthcoaching.schedulista.com/?preview_from=https://www.schedulista.com/settings/services?selected_category_id=1073753414', target='_blank') Book a session
    .col.span_1_of_2
      h3(align='center') 90 minute Power session
      p
        | A one time 90 minute session to kick off your healthy lifestyle. This is great to address one specific issue or to follow up after you've completed the 6 month program.
      p
      p
        a.buttonSmall(href='http://lucyshealthcoaching.schedulista.com/?preview_from=https://www.schedulista.com/settings/services?selected_category_id=1073753414', target='_blank') Book a session
  // END RESPONSIVE COLUMNS
  h3(align='center') Workshops and Speaking Engagements
  p
    | I have been teaching workshops on health for years and it's one of my favorite things to do! I am happy to come to your space to teach a workshop to your employees, memebers, clients and students. I am also happy to come speak at your panel discussion or any other speaking engagement you have in mind. My workshops are very interactive and I encourage participation from the audience. I don't ascribe to any fad diets and do not teach any specific diet, but I DO teach about the powers of whole foods and how to over come obstacles in our journey toward health.
  p Let's talk about what will suit your audience best.
  p(align='center')
    strong Here are some workshop I've taught in the past:
  div(style='width: 200px; margin: 0 auto;')
    p
      ol(style='list-style: inside disc;')
        li Eating for Energy
        li Sweet Tooth, Bitter Truth
        li Seasonal Eating
        li Eating for Immunity
        li New Year, New You
  h3(align='center') CookShops
  p(align='center')
    strong Healthy Cooking made simple
  p
    | Knowing the keys to health is great, but some of us have a hard time applying it to our daily lives. My cooking workshops are simple and flexible to busy lifestyles- I know, I've been juggling the New York City lifestyle since I was a child. Now I'm not a professionally trained chef and most of my clients aren't either. This is why my workshops focus on easy delicious meals everyone can make.
    | Since I have food sensitivities myself, I also like to teach cookshops that help people with food allergies and sensitives find easy to make recipes that they can stomach. So whether you are gluten-free, dairy free, nut allergies, paleo, vegan or raw, I got you covered.
  p
    | All cookshops will also include helpful nutritional education as well. Let's get cookin!
  p If you are interested in booking me for a cookshop,
  p
  p
    a.buttonSmall(href='contact.html') contact me
